@font-face {
  font-family: 'Bio Sans';
  src: url('./Bio-Sans-Regular.woff2');
  font-style: normal;
}

@font-face {
  font-family: 'Bio Sans Bold';
  src: url('./Bio-Sans-Bold.woff2');
  font-style: normal;
}