@font-face {
  font-family: 'GothamSSm Bold';
  src: url('./GothamSSm-Bold.woff2');
  font-style: normal;
}

@font-face {
  font-family: 'GothamSSm Extra Light';
  src: url('./GothamSSm-ExtraLight.woff2');
  font-style: normal;
}

@font-face {
  font-family: 'GothamSSm Light';
  src: url('./GothamSSm-Light.woff2');
  font-style: normal;
}

@font-face {
  font-family: 'GothamSSm Narrow Bold';
  src: url('./GothamSSm-Narrow-Bold.woff2');
  font-style: normal;
}