@import "../public/fonts/ABChanel-Corpo.css";
@import "../public/fonts/Bio-Sans.css";
@import "../public/fonts/Diazo-MVB-Rough2-Cond.css";
@import "../public/fonts/GothamSSm.css";

.h1 {
  font-family: 'GothamSSm Narrow Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 102%;
  text-align: center;
}